.cart__container {

    background: repeating-linear-gradient(45deg, #00000055 0, #00000055 10%, transparent 0, transparent 50%), repeating-linear-gradient(135deg, #00000055 0, #00000055 10%, transparent 0, transparent 50%);
    background-size: 5em 5em;
    background-color: #090810;
    opacity: 1;

    min-height: 100%;
    width: 100%;
    padding-top: 100px;
}

.cart__wrapper {
    /* height: 100%; */
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    color: #000;
}

.cart__list {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
}

.cart__list__section__title {
    font-size: 2rem;
    text-align: center;
    margin: 20px 0px;
    margin-bottom: 30px;
}

.cart__item {
    background-color: #FFF;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    box-shadow: 0px 0px 2px #00000022, 0px 0px 10px #00000022;
}

.cart__item:hover {
    background-color: #FFFFFFbb;
}

.cart__item__cover {
    padding: 10px;
}

.cart__item__cover img {
    /* border-radius: 50%; */
    border-radius: 10px;
    overflow: hidden;
    height: 80px;
    width: 80px;
    object-fit: cover;
    box-shadow: 0px 0px 2px #00000055, 0px 0px 10px #00000055;
}

.cart__item__info {
    width: 100%;
    padding: 0px 20px;
}

.cart__item__model {
    font-size: 1.3rem;
    font-weight: 600;
}

.cart__item__brand {
    font-size: 1rem;
    font-weight: 600;
}

.cart__item__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.cart__item__delete {
    font-size: 5rem;
    line-height: 2rem;
    font-weight: 300;
    background-color: transparent;
    outline: none;
    border: none;
    transform: rotate(45deg);
    cursor: pointer;
    color: #a31010;
    margin: 10px;
    user-select: none;
}

.cart__item__quantity {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px
}

.cart__item__quantity__value {
    font-size: 1.2rem;
    margin: 0px 10px;
}

.cart__item__quantity__add, .cart__item__quantity__remove {
    font-size: 2rem;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    line-height: 2rem;
    margin: 10px;
    font-weight: 400;
    background-color: #00000022;
    cursor: pointer;
    user-select: none;
}

.cart__list__total {
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}